#title{text-align: center;

    
}

.label{text-align: center;
      position:relative;
       bottom: -150px;
    
}

.button{text-align: center;
        position:relative;
       bottom: -170px;}

.answer{text-align: center;
        position:relative;
       bottom: -190px;}

ol li{position:relative;
      left:40%;
      bottom: 70px;
    
}